*{
    margin: 0%;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.main-container{
    width: 100%;
    height: 100vh;
    background-color: #01161E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wheather{
    z-index: 2;
    display: flex;
    align-items: center;
    color: white;
}
.wheather>div{
    margin: 0.625rem;
}
.wheather p {
    font-size: 2rem;
}

.wheather span {
    font-size: 0.75rem;
}

nav{
    height: 100px;
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    width: 100%;
    background-color:  rgba(180, 177, 177, 0.202);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav form{
    width: 70%;
    grid-template-columns: 5fr 1fr;
    display: grid;
}

.search_field{
    font-size: 1.1rem;
    outline: none;
    color: white;
    background-color: transparent;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid white;
    width: 98%;
}

nav form button{
    background-color: aqua;
    font-size: 1.1rem;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}