*{
    box-sizing: border-box;
}
.card{
    border: 1px solid;
    height: 10rem;
    width: 10rem;
    margin: 2rem;
}
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5rem;
}
.blue{
    background-color: blue;
    box-shadow: 0px 0ox 5px 6px;
}
.red{
    background-color: red;
    box-shadow: 0px 0ox 5px 6px;
}
.green{
    background-color: green;
    box-shadow: 0px 0ox 5px 6px;
}